# MySQL connection settings
DB_HOST=mysql
DB_USER=ams_user
DB_PASS=ams_pass
DB_NAME=ams

# SQL Server connection settings
MSSQL_DB_HOST=mssql
MSSQL_DB_USER=sa
MSSQL_DB_PASS=Strong!Passw0rd
MSSQL_DB_NAME=master
